@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
.width-container {
    width: 95%;
    margin: 0, auto;
    min-width: 300px;
    text-align: center;
}

body {
    min-width: 1100px;
    background-color: rgba(46, 147, 255, 0.556)
}

.title {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding-top: 30px;
}

.first-row-photos {
    width: 160px;
    height: 260px;
    margin-left: 2px;
    margin-right: 2px;
    border: solid, 4px, rgb(11, 63, 132);
}

.second-row-photos {
    width: 160px;
    height: 260px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid, 4px, rgb(11, 63, 132);
}

.team-title {
    padding-top: 30px;
    font-size: 45px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#captain {
    border-color: gold;
}

.mattb-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 550px;
    left: 45px;
    font-size: 18px;
}

.logan-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 550px;
    left: 245px;
    font-size: 18px;
}

.hashaam-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 540px;
    left: 430px;
    font-size: 18px;
    
}

.henry-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 550px;
    left: 610px;
    font-size: 18px;
}

.conner-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 550px;
    left: 790px;
    font-size: 18px;
}

.jack-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 550px;
    left: 970px;
    font-size: 18px;
}

.bailey-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 550px;
    left: 1140px;
    font-size: 18px;
}

.matta-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 975px;
    left: 150px;
    font-size: 18px;
    text-align: center;
}

.jake-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 985px;
    left: 320px;
    font-size: 18px;
    text-align: center;
}

.cooper-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 985px;
    left: 505px;
    font-size: 18px;
    text-align: center;
}

.ezra-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 985px;
    left: 705px;
    font-size: 18px;
    text-align: center;
}

.thomas-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 985px;
    left: 865px;
    font-size: 18px;
    text-align: center;
}

.liam-name {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 985px;
    left: 1065px;
    font-size: 18px;
    text-align: center;
}